<div class="row">
    <div class="col-md-12">
        <span class="app-main-achievements-menu-heading"><b>Achievements</b></span>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 app-main-achievements-menu-details">
        <ul>
            <li>Ranked <b>771</b> in <b>Google Kickstart 2019</b></li>
            <li>Qualified in GATE 2016.</li>
            <li>Secured <b>A Grade</b> in <b>Amcat Examination</b> with 89.68 Percentile.</li>
            <li>Secured <b>243</b> rank across the globe in <b>TCS Codevita Competition 2014-15</b>.</li>
            <li>Secured <b>817 rank</b> in First round of <b>TCS Codevita Competition 2015-16</b>.</li>
            <li>Awarded 2nd in JAVA Debugging Contest.</li>
            <li>Awarded 1st in C algorithm contest.</li>
            <li>Awarded 2nd in Electronics contest.</li>
        </ul>
    </div>
</div>