<div class="row">
    <div class="col-md-12">
        <span class="app-main-technologies-menu-heading"><b>Technologies</b></span>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 app-main-technologies-menu-subject">
        I have experience in working with the following tools and technologies:
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-4">
        <div class="app-main-technologies-skills-details">
            <b>DevOps Tools</b><br>
            <ul>
                <li>Azure DevOps</li>
                <li>Docker</li>
                <li>Git</li>
                <li>Microsoft Azure</li>
                <li>Ansible</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="app-main-technologies-skills-details">
            <b>Scripting</b><br>
            <ul>
                <li>PowerShell</li>
                <li>Bash</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="app-main-technologies-skills-details">
            <b>Programming Languages</b><br>
            <ul>
                <li>C#</li>
                <li>ASP.Net MVC</li>
                <li>Java</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="app-main-technologies-skills-details">
            <b>Database</b><br>
            <ul>
                <li>SQL Server</li>
                <li>MySQL</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="app-main-technologies-skills-details">
            <b>Web Technologies</b><br>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>Angular JS</li>
                <li>Bootstrap</li>
                <li>JavaScript</li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="app-main-technologies-skills-details">
            <b>Code Analysis</b><br>
            <ul>
                <li>SonarQube</li>
                <li>Fortify</li>
                <li>CodeMerics</li>
                <li>CredScan</li>
            </ul>
        </div>
    </div>
</div>