<div class="row">
    <div class="col-md-12">
        <span class="app-main-technologies-menu-heading"><b>Experience</b></span>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 app-main-technologies-menu-subject">
        I have experience in working with the following tools and technologies:
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 app-main-technologies-skills-details">
        <div class="row">
            <div class="col-md-12">
                <b>DevOps Tools</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>Azure DevOps</li>
                    <li>Docker</li>
                    <li>Git</li>
                    <li>Microsoft Azure</li>
                    <li>Ansible</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 app-main-technologies-skills-details">
        <div class="row">
            <div class="col-md-12">
                <b>Scripting</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>PowerShell</li>
                    <li>Bash</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 app-main-technologies-skills-details">
        <div class="row">
            <div class="col-md-12">
                <b>Programming Languages</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>C#</li>
                    <li>ASP.Net MVC</li>
                    <li>Java</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 app-main-technologies-skills-details">
        <div class="row">
            <div class="col-md-12">
                <b>Database</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li>SQL Server</li>
                    <li>MySQL</li>
                </ul>
            </div>
        </div>
    </div>
</div>