<div class="row">
    <div class="col-md-12 app-main-introduction-cover-letter">
        <div class="row">
            <div class="col-md-12">
                Shubham is a <b>DevOps Engineer</b> in Deloitte's Risk and Financial Advisory mainly working for Managed Services and Products group.
                <br><br> Shubham has an experience of more than 3 years in implementing DevOps culture in teams. He has experience in many latest DevOps tools and technologies including the following:
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>PowerShell</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Git</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Ansible</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>Docker</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Microsoft Azure DevOps</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Google Firebase</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>Bash</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>SonarQube Administration</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>SQL Server</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                Shubham also has experience in <b>Web Application Development</b> using the following .Net technologies
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>C#</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>ASP.Net MVC</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Angular JS</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>HTML</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>CSS</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Entity Framework</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                In his free time, Shubham enjoys playing Guitar and writing lyrics. He is practicing Guitar since last 8 years and wrote some of the beautiful songs. He is also a part of small musical band Saturday Morning Jam.
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 text-center">
                Find out more about Shubham here <br><br>
                <a href="https://www.youtube.com/c/shubhrocksgoel"><span class="fa fa-youtube"
                        style="font-size:36px;color:red"></span></a>&nbsp;&nbsp;
                <a href="https://www.linkedin.com/in/shubhamgoelaug/"><span class="fa fa-linkedin"
                        style="font-size:36px;color:#0e76a8"></span></a>&nbsp;&nbsp;
                <a href="https://github.com/shubhamgoel4aug"><span class="fa fa-github"
                        style="font-size:36px;color:#211F1F"></span></a>
            </div>
        </div>
    </div>
</div>