<div class="row">
    <div class="col-md-12 app-main-introduction-cover-letter">
        <div class="row">
            <div class="col-md-12">
                I am a <b>DevOps Engineer</b> in Deloitte's Risk and Financial Advisory mainly working for Managed Services and Products group.
                <br><br> I have an experience of more than 3 years in implementing DevOps culture in teams. I have experience in many latest DevOps tools and technologies including the following:
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>PowerShell</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Git</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Ansible</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>Docker</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Microsoft Azure DevOps</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Google Firebase</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>Bash</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>SonarQube Administration</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>SQL Server</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                I also have experience in <b>Web Application Development</b> using the following .Net technologies
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>C#</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>ASP.Net MVC</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Angular JS</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>HTML</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>CSS</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Entity Framework</li>
                </ul>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                In my free time, I enjoy playing guitar and writing lyrics. I am practicing Guitar for the last 8 years and wrote some of the beautiful songs. I am also a part of a small musical band Saturday Morning Jam.
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 text-center">
                You can get a pdf verion of my resume <a href="https://firebasestorage.googleapis.com/v0/b/shubham-goel.appspot.com/o/Shubham%20Goel.pdf?alt=media&token=edb7bfe7-d0b9-416c-a637-0becf7cc290b">here</a>.<br> Find out more about me here <br><br>
                <a href="https://www.youtube.com/c/shubhrocksgoel"><span class="fa fa-youtube"
                        style="font-size:36px;color:red"></span></a>&nbsp;&nbsp;
                <a href="https://www.linkedin.com/in/shubhamgoelaug/"><span class="fa fa-linkedin"
                        style="font-size:36px;color:#0e76a8"></span></a>&nbsp;&nbsp;
                <a href="https://github.com/shubhamgoel4aug"><span class="fa fa-github"
                        style="font-size:36px;color:#211F1F"></span></a>&nbsp;&nbsp;
                <a href="https://www.instagram.com/music._.shubham/"><span class="fa fa-instagram"
                        style="font-size:36px;color:#fb3958"></span></a>
            </div>
        </div>
    </div>
</div>