.app-header{
    background-color: black;
    padding-bottom: 1%;
    box-shadow: 0px 1px 10px black;
}

.app-header-information{
    margin-top: 5px;
}

.app-header-name{
    font-size: 3em;
    color: white;
}

.app-header-role{
    font-size: 1em;
    color: white;
}

.app-header-contact{
    font-size: 1em;
    color: white;
}

.app-header-image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-top: 10%;
}