<div class="row app-header">
    <div class="col-md-1">
        <img class="app-header-image" src="/assets/img/app-header-passport-pic.jpg" />
    </div>
    <div class="col-md-3 app-header-information">
        <div class="app-header-name">
            SHUBHAM GOEL
        </div>
        <div class="app-header-role">
            <i>DevOps Engineer &nbsp;</i> |<i>&nbsp; Hyderabad</i>
        </div>
        <div class="app-header-contact">
            <i>shubhamgoel4aug@gmail.com &nbsp; </i> | <i>&nbsp; +91 9100139057</i>
        </div>
    </div>
    <div class="col-md-8 app-header-menu">
        <div class="row">
            <div class="col-md-2 app-header-menu-options">Introduction</div>
            <div class="col-md-2 app-header-menu-options">Education</div>
            <div class="col-md-2 app-header-menu-options">Experience</div>
            <div class="col-md-2 app-header-menu-options">Technologies</div>
            <div class="col-md-2 app-header-menu-options">Achievements</div>
            <div class="col-md-2 app-header-menu-options">Hobbies</div>
        </div>
    </div>
</div>