<div class="row app-header">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 text-center app-header-name">
                SHUBHAM GOEL
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 text-center app-header-role">
                DevOps Engineer &nbsp; | &nbsp; Hyderabad
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 text-center app-header-contact">
                shubhamgoel4aug@gmail.com &nbsp; | &nbsp; 9100139057
            </div>
        </div>
    </div>
</div>