.app-main-experience-menu-heading {
    font-size: 1.7em;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 5px;
}

.app-main-experience-menu-subject {
    font-size: 1.3em;
}

.app-main-experience-menu-company-header {
    font-size: 1.4em;
}

.app-main-experience-menu-company-timeline {
    font-size: 1em;
}

.app-main-experience-menu-company-details {
    font-size: 1.2em;
    box-shadow: 0px 0px 10px darkgray;
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
}

.app-main-experience-menu-company-details-explanation {
    margin-left: 50px;
}