<div class="row">
    <div class="col-md-12">
        <span class="app-main-experience-menu-heading"><b>Experience</b></span>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 app-main-experience-menu-subject">
        I am currently working as a <b>DevOps Engineer</b> with <b>3 Years and 4 Months</b> of experience. I am curretly serving <b>Deloitte, Hyderabad</b>. Please find my overall experience and roles and responsibilities below in chronological order:
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 app-main-experience-menu-company-header">
                <b>Deloitte, Hyderabad</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 app-main-experience-menu-company-timeline">
                25 February, 2019 To Present
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 app-main-experience-menu-company-details">
                <b>Project</b><br> Solvas Products (Feb 2019 To Present)
                <br><br>
                <span class="glyphicon glyphicon-chevron-right"></span> &nbsp; <b>Tools and Technologies Used</b>
                <div class="app-main-experience-menu-company-details-explanation">
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; PowerShell, Docker, Git, Azure DevOps, Microsoft Azure, SQL Server
                </div>
                <br>
                <span class="glyphicon glyphicon-chevron-right"></span> &nbsp; <b>Accomplishments</b>
                <div class="app-main-experience-menu-company-details-explanation">
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; Implemented an Azure Resource Group template to create a Virtual Machine with all the required software and configurations, for example: Visual Studio, SQL Server with LocalDB,
                    YAML, Git, Docker, Node.js, Ruby
                    <br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; Implemented a Release Definition which upgrades the product database from last product release to latest database.
                </div>
                <br>
                <span class="glyphicon glyphicon-chevron-right"></span> &nbsp; <b>Roles & Responsibilities</b>
                <div class="app-main-experience-menu-company-details-explanation">
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; To create a DevOps pipeline for the project. <br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; To debug failed builds. <br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; To implement and main Database migration scripts. <br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; To create Custom Build Tasks using PowerShell. <br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; Implement strong branch policies for efficient merges using custom scripts. <br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; To create Build and Release definitions.
                    <br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; To monitor builds. <br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; To customize Build and Release definitions. <br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; Containerize all the builds and deployments. <br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; Apply semantic versions to products as per feature. <br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; Maintain infrastructure by implementing scripts for Automatic Agent Cleanups, Disk Space reporting, Installation and Removal of Agents remotely using PowerShell DSC.
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 app-main-experience-menu-company-header">
                <b>Tata Consultancy Services Limited, Hyderabad</b>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 app-main-experience-menu-company-timeline">
                25 July, 2016 To 8 February, 2019
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12 app-main-experience-menu-company-details">
                <b>Project</b><br> Services DevOps (Sep 2017 To Feb 2019)
                <br><br>
                <span class="glyphicon glyphicon-chevron-right"></span> &nbsp; <b>Tools and Technologies Used</b>
                <div class="app-main-experience-menu-company-details-explanation">
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; PowerShell, Docker, Git, Azure DevOps, ServiceNow, SonarQube, Fortify, Microsoft Azure, SQL Server
                </div>
                <br>
                <span class="glyphicon glyphicon-chevron-right"></span> &nbsp; <b>Accomplishments</b>
                <div class="app-main-experience-menu-company-details-explanation">
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; Implemented a PowerShell script to clean the unnecessary workspaces in the Azure DevOps agent directories. The script runs on a daily basis and cleans all the workspaces older
                    than 1 day.
                    <br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; Designed and Built procedure for running Microsoft Credenial Scanner on a regular basis using PowerShell, C# and SQL Server. The procedure scans all the repositories under
                    portfolio and finds out if there are any open secrets (like passwprds, access tokens) inside code.
                    <br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; Automated the process of building sub-system monitoring reports using PowerShell, HTML and CSS.
                </div>
                <br>
                <span class="glyphicon glyphicon-chevron-right"></span> &nbsp; <b>Roles & Responsibilities</b>
                <div class="app-main-experience-menu-company-details-explanation"><br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; To create a DevOps pipeline for the project.<br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; To debug failed builds.<br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; To create Custom Build Tasks using PowerShell.<br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; To create Build and Release definitions.<br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; To monitor builds.<br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; To customize Build and Release definitions.<br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; Analyze Source Code with Credential Scanner and HPE Fortify tools on a weekly basis. This reduces the exposure of sensitive information from the code repositories.<br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; Administration of SonarQube Server.<br>
                    <span class="glyphicon glyphicon-ok-circle"></span> &nbsp; Maintain infrastructure by implementing scripts for Automatic Agent Cleanups, Disk Space reporting, Installation and Removal of Agents remotely using PowerShell DSC
                </div>
            </div>
        </div>
    </div>
</div>
<br>