<div class="row">
    <div class="col-md-12">
        <span class="app-main-hobbies-menu-heading"><b>Hobbies</b></span>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 app-main-hobbies-guitar-details">
        I love <b>Playing Guitar</b>. I am practicing Guitar <b>since last 8 years</b>. I play guitar for a band called
        <b>Saturday Morning Jam</b>. Other than playing Guitar, I also do <b>singing and song writing</b>.
        <br><br> I like playing and watching cricket as well and I am a fan of Sachin Tendulkar and Mahendra Singh Dhoni.
        <br><br> I am also a YouTuber. <b>I am doing Guitar lessons on YouTube for last 2 years</b>. Here are some of my performances which includes my originals as well as some covers.
        <div class="row">
            <div class="col-md-6">
                <br>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n7xNVZhtG34" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P4kUKuMCs-o" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <br>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/K2XEOEClZM8" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/gbdoM3OMDEw" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>