<div class="row">
    <div class="col-md-12">
        <span class="app-main-hobbies-menu-heading"><b>Hobbies</b></span>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 app-main-hobbies-guitar-details">
        I love playing Guitar. I am practicing Guitar since last 8 years. I play Guitar for a band called Saturday Morning Jam. Other than playing Guitar I write songs and also do singing. I am also a YouTuber. I am doing Guitar lessons on YouTube since last
        2 years. Here are some of my performances which includes my originals as well as some covers.
        <div class="row">
            <div class="col-md-6">
                <br>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/n7xNVZhtG34" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>

            </div>
            <div class="col-md-6">
                <br>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/P4kUKuMCs-o" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>