<div class="row">
    <div class="col-md-12 app-main-education-menu-heading">
        <b>Education</b>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 app-main-education-menu-subject">
        My highest qualification is <b>Bachelor of Technology (B.Tech.)</b> in <b>Computer Science & Engineering</b>. I am listing down my full education hostory below:
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 app-main-education-menu-details">
        <b>Graduation: </b> Bachelor of Technology (B.Tech.)<br>
        <b>Specialization: </b> Computer Science & Engineering<br>
        <b>Completion Date:</b> June, 30th 2016<br>
        <br>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> Degree </th>
                        <th scope="col"> University / Board </th>
                        <th scope="col"> College / School </th>
                        <th scope="col"> Major </th>
                        <th scope="col"> Percentage Marks </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>