<div class="row">
    <div class="col-md-12 app-main-education-menu-heading">
        <b>Education</b>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        My highest qualification is <b>Bachelor of Technology (B.Tech.)</b> in <b>Computer Science & Engineering</b>. I am listing down my full education hostory below:
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <b>Graduation: </b> Bachelor of Technology (B.Tech.)<br>
        <b>Specialization: </b> Computer Science & Engineering<br>
        <b>Completion Date:</b> June, 30th 2016<br>
    </div>
</div>