<div class="row">
    <div class="col-md-12 app-main-education-menu-heading">
        <b>Education</b>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 app-main-education-menu-subject">
        My highest qualification is <b>Bachelor of Technology (B.Tech.)</b> in <b>Computer Science & Engineering</b>. I am listing down my full education hostory below:
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12 app-main-education-menu-details">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"> Degree </th>
                        <th scope="col"> University / Board </th>
                        <th scope="col"> College / School </th>
                        <th scope="col"> Major </th>
                        <th scope="col"> Percentage Marks </th>
                        <th scope="col"> Completion Date </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td scope="col"> Bachelor of Technology </td>
                        <td scope="col"> Uttar Pradesh Technical University </td>
                        <td scope="col"> Meerut Intitute of Engineering & Technology </td>
                        <td scope="col"> Computer Science & Engineering </td>
                        <td scope="col"> 81.0 </td>
                        <td scope="col"> June 2016 </td>
                    </tr>
                    <tr>
                        <td scope="col"> Intermediate </td>
                        <td scope="col"> Uttar Pradesh State Board </td>
                        <td scope="col"> Safalta Inter College </td>
                        <td scope="col"> Physics, Chemistry, Mathematics </td>
                        <td scope="col"> 83.2 </td>
                        <td scope="col"> May 2012 </td>
                    </tr>
                    <tr>
                        <td scope="col"> High School </td>
                        <td scope="col"> Uttar Pradesh State Board </td>
                        <td scope="col"> Safalta Inter College </td>
                        <td scope="col"> Science </td>
                        <td scope="col"> 74.83 </td>
                        <td scope="col"> May 2010 </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>