<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 app-main-cover-letter">
        Hello Everyone,
        <br><br> I am a <b>DevOps Engineer</b> with more than <b>3 years</b> of experience in <b>Continuous Integration,
            Continuous Delievery, Continuous Deployment and Configuration Management</b>. I am currently working with
        <b>Deloitte, Hyderabad</b>.
        <br><br> I have experience in working with the following tools and technologies:
        <br><br>
        <div class="row">
            <div class="col-md-4">
                <ul>
                    <li>PowerShell</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Git</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Ansible</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Docker</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Azure DevOps</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>SQL Server</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>Microsoft Azure</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>C#</li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul>
                    <li>ASP.Net MVC</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>