<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 app-main-menu-components">
        <router-outlet></router-outlet>
        <!-- <app-main-introduction *ngIf="appMainCurrentMenu.AppMainCurrentMenuComponent == 'IntroductionComponent'"></app-main-introduction>
        <app-main-education *ngIf="appMainCurrentMenu.AppMainCurrentMenuComponent == 'EducationComponent'"></app-main-education>
        <app-main-experience *ngIf="appMainCurrentMenu.AppMainCurrentMenuComponent == 'ExperienceComponent'"></app-main-experience>
        <app-main-technologies *ngIf="appMainCurrentMenu.AppMainCurrentMenuComponent == 'TechnologiesComponent'"></app-main-technologies>
        <app-main-achievements *ngIf="appMainCurrentMenu.AppMainCurrentMenuComponent == 'AchievementsComponent'"></app-main-achievements>
        <app-main-hobbies *ngIf="appMainCurrentMenu.AppMainCurrentMenuComponent == 'HobbiesComponent'"></app-main-hobbies> -->
    </div>
    <div class="col-md-1"></div>
</div>
<div class="row">
    <div class="col-md-12 app-main-footer">
        Developed By <b>Shubham Goel</b>. Hosted on <b>Google Firebase</b>. All rights reserved.

    </div>
</div>