.app-main{
    margin-top: 100px;
}

.app-main-features{
    font-size: 2em;
    color: black;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
    cursor: pointer;
}

.app-main-features:hover{
    color: olive;
}