<div class="row">
    <div class="col-md-3 app-main">
        <div class="row">
            <div class="col-md-12 app-main-features app-main-features-education">
                Education
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 app-main-features app-main-features-experience">
                Experience
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 app-main-features app-main-features-technologies">
                Technologies
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 app-main-features app-main-features-achievements">
                Achievements
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 app-main-features app-main-features-hobbies">
                Hobbies
            </div>
        </div>
    </div>
    <div class="col-md-9">
        Introduction
    </div>
</div>